@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    font-family: "Teachers", sans-serif;
    margin: 0;
    padding: 0;
}

.acceuil {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #333;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000814;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.image-title {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.title h1 {
    z-index: 1;
    font-size: 50px;
    color: whitesmoke;
    cursor: default;
    user-select: none;
    transition: all ease .5s;
}

.title h1::after {
    background-color: #00ccff;
    height: 5px;
    width: 0;
    content: "";
    display: flex;
    border-radius: 5px;
    transition: all ease .2s;
}

.title h1:hover {
    font-size: 60px;
}

.info {
    width: 90vw;
}

.info__container {
    display: flex;
    justify-content: center;
    align-items: start;
}