/* Profil.css */

.profil-container {
    width: 90vw; /* Utilisation de 90% de la largeur de la vue */
    height: 75vh; /* La hauteur est égale à la largeur pour former un carré */
    margin: 5vh auto; /* Centrer verticalement et horizontalement */
    position: relative;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profil-header {
    display: flex;
    align-items: center;
}

.profil-header img {
    border: solid black 1px;
    border-radius: 50%;
}

.profil-name {
    font-size: 50px;
    margin-left: 50px;
}

.profil-content {
    margin-top: 20px;
    width: 100%;
    height: 70%;
    display: flex;
}

.profil-content-title {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.profil-content-1v1, .profil-content-2v2 {
    width: 50%;
    height: 100%;
}

.profil-content-1v1 {
    background-color: #9856af;
}

.profil-content-2v2 {
    background-color: #98afe4;
}

.profil-btns {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.profil-btn {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
    overflow: hidden;
}

.btn_suppr {
    background-color: red;
    color: white;
    position: relative;
    z-index: 1;
}

.square-btn_suppr {
    z-index: -1;
    position: absolute;
    width: 0;
    transition: all 0.2s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    height: 100%;
    background-color: rgb(184, 50, 50);
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
}

.btn_suppr:hover .square-btn_suppr{
    width: 100%;
}

.btn_edit {
    background-color: rgb(141, 158, 255);
    position: relative;
    z-index: 1;
}

.square-btn_edit {
    z-index: -1;
    position: absolute;
    width: 0;
    transition: all 0.2s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    height: 100%;
    background-color: rgb(75, 150, 190);
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
}

.btn_edit:hover .square-btn_edit{
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    font-size: 30px;
    padding: 2px;
    width: 100px;
}

.col1 {
    text-align: right;
}

.col2 {
    width: auto;
}

.col3 {
    text-align: start;
}

.delete-message {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: #4D5DB5;
    font-weight: 900;
    font-size: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}