.ranked {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.ranked__selector {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    width: 20vw;
    user-select: none;
    cursor: pointer;
}

.ranked__selector__all {
    background-color: rgb(57, 55, 55);
    height: 20vh;
    border-right: 2px black solid;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 20px 0;
    margin: 10px 0;
}
