@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.profilmin {
    margin: 10px 0;
    height: 20vh;
    width: 20vw;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    text-align  : center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: white;
}

.profilmin__name {
    z-index: 5;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 900;
    width: 100%;
}

.profilmin__backgroundimage {
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    user-select: none;
}

.profilmin__elo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
}

.profilmin__1v1, .profilmin__2v2 {
    font-size: 20px;
}

.profilhead {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: white 3px solid;
    overflow: hidden;
}

.profilhead__backgroundimage {
    width: 100%;
    height: 100%;
}