.toprankings {
    margin: 5vh 0;
    width: 20vw;
    position: relative;
    text-decoration: none;
    color: black;
}

.toprankings img {
    width: 100%;
}

.toprankings__title {
    margin-bottom: 25px;
    font-size: 30px;
    color: white;
}

.toprankings__title::after {
    background-color: black;
    height: 5px;
    width: 2.5em;
    content: "";
    display: flex;
    border-radius: 5px;
    transition: all ease .2s;
}

.top3 {
    position: relative;;
}

.one {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.two {
    position: absolute;
    top: 44%;
    left: 17%;
    transform: translateX(-50%);
}

.three {
    position: absolute;
    top: 67%;
    right: 1%;
    transform: translateX(-50%);
}