.toprankings_board__topthree__title {
    font-size: 40px;
    font-weight: 900;
}
.toprankings_board__topthree__title::after {
    background-color: black;
    height: 5px;
    width: 100%;
    content: "";
    display: flex;
    border-radius: 5px;
    transition: all ease .2s;
    margin-bottom: 1vw;
}


.toprankings_board__topthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.toprankings_board__topthree__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.toprankingsboard {
    width: 80vw;
}

.allranks {
    margin: 30px 30px;
}

.allranks__line {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.allranks__line__categories {
    font-size: 20px;
}

.pair {
    background-color: #252525;
    border: 1px solid black;
    padding: 10px 5px;
}

.impair {
    border: 1px solid black;
    background-color: #313131;
    padding: 10px 5px;
}

.case {
    width: 500px;
    color: white;
}