.tournamentdetails__title {
    position: relative;
    color: white;
}

.tournamentdetails {
    background-color: black;
}

.tournamentdetails__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    transition: all ease 0.2s;
}

.tournamentdetails__content {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 20px;
    width: 70vw;
    height: 80vh;
    box-shadow: rgba(255, 255, 255,0.500) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(222, 209, 209);;
}

.tournamentdetails__content__img {
    overflow: hidden;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.tournamentdetails__content img {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.tournamentdetails__name {
    font-weight: 900;
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
    color: rgb(81, 78, 50);
}

.tournamentdetails__nbrjoueurs {
    font-size: 30px;
    position: absolute;
    top: 22.5vh;
    margin-left: 1050px;
    font-size: 20px;
    color: rgb(81, 78, 50);
}

.tournamentdetails__informatoins {
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    color :rgb(81, 78, 50);
}

.infos {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
    font-size: 25px;
    color: black;
}

.tournamentdetails__description {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    color: black;
}

.iscriptionbutton {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left: 560px;
  margin-right: 560px;
  margin-top: 180px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
}

.iscriptionbutton:disabled {
  pointer-events: none;
}

.iscriptionbutton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.iscriptionbutton:active {
  box-shadow: none;
  transform: translateY(0);
}

.noselected {
    font-size: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
