.toprankings {
    margin-top: 5vh;
    width: 20vw;
    position: relative;
}

.toprankings img {
    width: 100%;
}

.top3 {
    position: relative;
}

.one {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.two {
    position: absolute;
    top: 44%;
    left: 17%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.three {
    position: absolute;
    top: 67%;
    right: 1%;
    transform: translateX(-50%);
    opacity: 0.5;
}